@model SNAPTestWeb.Models.HouseholdModel
@{ 
    Layout = "_Layout";
}
<div class="row my-4">
    <div class="mx-auto">


        <h1>Welcome to SNAP Test</h1>
    </div>
</div>
<div class="row my-4">
    <div class="col-8 mx-auto">

        <p class="flex-wrap">This page determines general eligibility for the SNAP program which can help with food assistance.  Only a state office can officially determine your eligiblity.  Please contact your local state SNAP office.</p>
    </div>
</div>
<div class="row">

</div>

