@model SNAPTestWeb.Models.HouseholdModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>HouseholdModel</h4>
<hr />
<div class="row">
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
